.LoginForm {
    display: flex;
    flex-direction: column;

    :not(:last-child) {
        margin-bottom: 8px;
    }

    &__input {
    }

    &__button {
        margin-left: auto;






        padding: rem(6) rem(12);

        border-color: $iconColor;

        border-radius: 48px;
    }

    &__title {
        color: $textColor;

        font-size: 20px;

        font-weight: 500;
    }

    &__error {
        color: red;
    }
}