.CommentCard {
    margin-top: rem(10);
    padding: rem(8);

    border-radius: rem(12);
    background-color: $thirdBgColor;
    &__header {
        display: flex;
        gap: rem(12);

        align-items: center;

        margin-bottom: rem(15);

        &:hover {
            text-decoration: underline;
        }
    }

    &__avatar {
    }

    &__username{
        
    }

    &__text {
    }
}
