.Sidebar {
    $p: &;

    position: relative;

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    width: rem(230);
    height: calc(100vh - 132px);
    padding: 20px;

    transition: width 0.3s ease;

    border-radius: 2rem;

    background: $thirdBgColor;

    &__switchers {
        //position: absolute;
        //bottom: 20px;

        display: flex;
        gap: rem(20);

        align-items: center;
        justify-content: center;

        //width: 100%;
    }

    &__lang {
    }

    &__collapsedBtn {
        position: absolute;
        right: 0;
        bottom: 50%;

        transform: translateY(50%);

        color: $iconColor;

        font-size: rem(30);
        // right: -32px;
        // bottom: 32px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &::-webkit-scrollbar {
            width: 0 !important;
            height: rem(4) !important;
            &-thumb {
                border-radius: rem(4) !important;
                background-color: $hintColor !important;
            }
        }
        @media (max-width: em($mobile)) {
            overflow-x: scroll;
        }
        //margin-top: 20px;
        //margin-left: 30px;
        //align-items: center;
        //flex-direction: column;
        //justify-content: center;

        //width: 100%;
        //padding-top: 20px;
        //row-gap: 20px;
    }

    &__item {
        span {
            text-wrap: nowrap;
        }
        // @media (max-width: em($mobile)) {
        //    span {
        //        display: none;
        //    }
        // }
    }
    @media (min-width: em($laptop)) {
        &__collapsed {
            width: var(--sidebar-width-collapsed);

            #{$p} {
                &__switchers {
                    align-items: center;
                    flex-direction: column;
                }

                &__lang {
                    //margin-left: 0;
                }
            }
        }
    }

    @media (max-width: em($laptop)) {
        flex-direction: row;
        column-gap: 8px;

        width: auto;
        height: auto;

        &__items {
            flex-direction: row;
            column-gap: rem(30);
        }
        &__switchers {
            flex-direction: row;
        }

        &__collapsedBtn {
            display: none;
        }
    }
}
