:root:has(.app.light) {
	--bg-color: #e8e8ea;
	--inverted-bg-color: #090949;

	--primary-color: #f838e5;
	--invert-primary-color: #049604;
	--secondary-color: #04ff04;


	--primary-bg-color: #ffffff;
	--secondary-bg-color: #EFF5F6;
	--third-bg-color: #E2EEF1;
	--text-color: #141C1F;
	--hint-color: #ADBCC0;
	--cancel-color: #FF7777;
	--save-color: #62DE85;
	--icon-color: #5ED3F3;
	--accent-color: #00C8FF;
}