:root:has(.app.light) {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;

    --primary-color: #f838e5;
    --invert-primary-color: #049604;
    --secondary-color: #04ff04;

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #eff5f6;
    --third-bg-color: #e2eef1;
    --text-color: #141c1f;
    --hint-color: #adbcc0;
    --cancel-color: #ff7777;
    --save-color: #62de85;
    --icon-color: #5ed3f3;
    --accent-color: #00c8ff;
}
