.Input {
    display: flex;
    align-items: center;

    gap: 8px;

    font: var(--font-m);

    ::placeholder {
        color: #adbcc0;
    }

    :focus {
        outline: none;
    }
    &__title {
        color: $textColor;
    }

    &__wrapper {
        width: 100%;
    }

    &__field {
        width: 100%;

        padding: 8px 16px;

        color: #555555;

        border: 1px solid #74a2b2;
        border-radius: 15px;

        font: inherit;

        font-weight: 500; 
    }
}
