#root {
    height: 100%;
}

.app {
    padding: 0 $containerPadding + px;
}

.content-page {
    display: flex;

    padding-top: rem(12);

    gap: rem(32);

    @media (max-width: em($laptop)) {
        flex-direction: column;
    }
}

.page-wrapper {
    flex-grow: 1;

    padding: 20px;
}
