.Item {
    $p: &;
    display: flex;
    gap: rem(20);

    align-items: center;

    &__icon {
        //margin-right: 21px;
        fill: $iconColor;
    }

    &__link {
        transition: opacity 0.3s;

        opacity: 1;

        font-family: $fontFamily;
    }

    @media (min-width: em($laptop)) {
        &__collapsed {
            gap: 0;

            justify-content: center;

            #{$p} {
                width: 0;

                &__link {
                    width: 0;

                    transition: 0.3s opacity;
                    pointer-events: none;

                    opacity: 0;
                }
            }
        }
    }
}
