.item {
    display: flex;
    gap: 21px;

    align-items: center;
}

.icon {
    //margin-right: 21px;
    fill: $iconColor;
}

.link {
    transition: opacity 0.3s;

    opacity: 1;

    font: var(--font-m);
}

.collapsed {
    .link {
        width: 0;

        transition: 0.3s opacity;

        opacity: 0;
    }
}
