.ArticleDetailsPage {
    display: flex;
    flex-direction: column;

    max-width: max-content;

    margin:  0 auto;
    padding: rem(10);

    border-radius: rem(12);

    background-color: $primaryBgColor;
    gap: rem(20);

    &__commentsTitle {
        margin-top: rem(20);
    }
}
