.navbar {
	display: flex;
	align-items: center;

	width: 100%;
	height: var(--navbar-height);
	padding: rem(20);

}

.link {
	margin-left: auto;
	padding: rem(8) rem(16);

	border-radius: rem(36);
	background: $primaryBgColor;

}

// .mainLink {
// 	margin-right: rem(15);
// }