.ProfilePageHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(103);

    margin-bottom: rem(40);

    &__avatar {
    }

    &__edit {
        padding: rem(6) rem(16);
    }

    &__cancel {
        padding: rem(6) rem(16);


        &_hidden {
            transition: opacity 0.3s ease;
            pointer-events: none;

            opacity: 0;
        }
    }
}
