.ArticleList {
    flex-grow: 1;

    max-width: rem(780);

    border-radius: rem(32);

    &__button {
        display: block;

        margin: auto;
        padding: rem(6);

        cursor: pointer;
    }

    &__list {
        margin-bottom: rem(10);
    }
}

.GRID {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.COLUMN {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
