.ArticleList {
    flex-grow: 1;

    max-width: rem(780);

    border-radius: rem(32);
}

.GRID {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.COLUMN {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
