.ArticleDetails {
    max-width: rem(780);

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }
    &__top {
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }
    &__image {
    }

    &__box {
        display: flex;
        gap: rem(5);

        align-items: center;

        margin-bottom: rem(12);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }
    &__desc {
        > * {
            &:not(:last-child) {
                margin-bottom: rem(6);
            }
        }
    }
    &__readmore {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $textColor;

        font-family: Roboto;
        font-size: rem(32);
        font-weight: 900;
    }

    &__subtitle {
    }

    &__date {
    }
}
